set_io Tile_X1Y0_A Tile_X1Y0.A
set_io Tile_X1Y0_B Tile_X1Y0.B
set_io Tile_X2Y0_A Tile_X2Y0.A
set_io Tile_X2Y0_B Tile_X2Y0.B
set_io Tile_X0Y1_A Tile_X0Y1.A
set_io Tile_X0Y1_B Tile_X0Y1.B
set_io Tile_X0Y2_A Tile_X0Y2.A
set_io Tile_X0Y2_B Tile_X0Y2.B
set_io Tile_X0Y3_A Tile_X0Y3.A
set_io Tile_X0Y3_B Tile_X0Y3.B
set_io Tile_X0Y4_A Tile_X0Y4.A
set_io Tile_X0Y4_B Tile_X0Y4.B
set_io Tile_X0Y5_A Tile_X0Y5.A
set_io Tile_X0Y5_B Tile_X0Y5.B
set_io Tile_X0Y6_A Tile_X0Y6.A
set_io Tile_X0Y6_B Tile_X0Y6.B
set_io Tile_X0Y7_A Tile_X0Y7.A
set_io Tile_X0Y7_B Tile_X0Y7.B
set_io Tile_X0Y8_A Tile_X0Y8.A
set_io Tile_X0Y8_B Tile_X0Y8.B
set_io Tile_X0Y9_A Tile_X0Y9.A
set_io Tile_X0Y9_B Tile_X0Y9.B
set_io Tile_X0Y10_A Tile_X0Y10.A
set_io Tile_X0Y10_B Tile_X0Y10.B
set_io Tile_X0Y11_A Tile_X0Y11.A
set_io Tile_X0Y11_B Tile_X0Y11.B
set_io Tile_X0Y12_A Tile_X0Y12.A
set_io Tile_X0Y12_B Tile_X0Y12.B
set_io Tile_X0Y13_A Tile_X0Y13.A
set_io Tile_X0Y13_B Tile_X0Y13.B
set_io Tile_X0Y14_A Tile_X0Y14.A
set_io Tile_X0Y14_B Tile_X0Y14.B